@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada&family=Poppins:wght@100&display=swap');


.main{
  background: linear-gradient(to right, #3498db, #2ecc71);
  height: 100vh;
 
}
.n{
  background: linear-gradient(to right, #3498db, #2ecc71);
}


/* img{
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */



:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}



 /* .tit h4 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  /* font-size: 3rem; */

  /* line-height: 0.85;
  perspective: 500px; */



/* ******************************************* */







.dev {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 3em;
    font-weight: 800;
    line-height: 1;
}
.dev:hover {
    animation-play-state: paused;
}



@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

/* ************************************* */

/* %%%%%%%%%%%%%%%%%%% */

.wrapper.one {
  /* background-color: #1a1a1a; */
}
.drop-main {
  display: flex;
  font-size: 3rem;
  /* margin: 1.5rem; */
  /* justify-content: center; */
  font-family: "Russo One", sans-serif;
}
.d {
  opacity: 0;
  animation: drop 0.2s linear forwards  ;
  color: #00ffff;
}
.r {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s  ;
  color: #99ffff;
}
.o {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #ccffff;
}
.p {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s  ;
  color: #ffffff;
}
.s {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s  ;
  color: #de4040;
}
@keyframes drop {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  50% {
      transform: translateY(0px);
      opacity: 1;
  }
  65% {
      transform: translateY(-17px);
      opacity: 1;
  }
  75% {
      transform: translateY(-22px);
      opacity: 1;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

/* ****************** */
#text {
  overflow: hidden; /* Hide overflow to create typing effect */
  white-space: nowrap; /* Prevent wrapping of text */
font-family:monospace;
  font-size: 18px;
  color: #0c2ffb;
  animation: typing 5s steps(100) infinite ;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
#text2 {
  overflow: hidden; /* Hide overflow to create typing effect */
  white-space: nowrap; /* Prevent wrapping of text */
  color: #0c2ffb;
  font-size: 18px;
  animation: type 5s steps(100) infinite ;
}

@keyframes type {
  from {
      width: 0;
  }
  to {
      width:100%;
  }
}
/* ******************** */
.main2{
  position:relative;
  top:130px;
}


.hey{
  font-family: 'Salsa', cursive;
  color:black;
}

.name{
  font-family:'Courier New', Courier, monospace;
  color:#cc632e;
  font-weight:bol;
}





.open-cv-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  position: relative;  

  padding-right: 30px;
}

.arrow {
  position: absolute;
  right: 10px; 
}
.open-cv-button:hover{
  background-color: #3498db;
}


.two-sided-layout {
  display: flex;
  /* background: linear-gradient(to right, #3498db, #2ecc71); */
  color: white; 
}

/* .left-side {
  flex: 1;
  /* padding: 20px; */


/* .right-side {
  flex: 1;
  background: #fff; 
  color: black; 
} */

.nvbtn{
  padding: 8px 20px;
  width: 180px;
  height: 60px;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  text-transform: uppercase;
  margin: 12px;
  overflow: hidden;
  position: relative;
}
.nvbtn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #00fffc, transparent);
  transform: translateX(-100%);
  transition: transform 0.6s; 
  position: absolute;
}

.nvbtn:hover{
background: transparent;
box-shadow: 0 0 20px 5px #00fffc;

}
.nvbtn:hover::before {
  transform: translateX(0); 
}

.nvbtn:hover {
  background: transparent;
  box-shadow: 0 0 20px 5px #00fffc;
}


/* about */


.about{
  line-height:30px;
  /* font-family: 'Black Ops One', system-ui; */
  font-family:'Courier New', Courier, monospace;

  color:mediumblue;
  font-size: 20px;
}
.tab{
  color:#0c2ffb;
  font-weight:bold;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}


.tab {
  /* width: 70%; */
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #5f91c0;
}

tr:hover {
  background-color: #66beed;
}



td a:hover {
  text-decoration: underline;
}



/* Skills.css */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.section-heading {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.skill-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color:#2ecc71;
  color:rgb(52, 52, 241);
  font-family: 'Courier New', Courier, monospace;
}

.card-heading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.skill-list {
  list-style: none;
  padding: 0;
}

.skill-list li {
  margin-bottom: 8px;
}

.card-text {
  margin: 0;
  color: #555;
}

.m_head{
  font-family: 'Montserrat Subrayada', sans-serif;
}
/* ********** */


svg {
  font-family: 'Russo One', sans-serif;
  /* position: absolute;  */
  width: 50%; height: 50%;
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 1;
  stroke: #365fa0;
  font-size: 80px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
  80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
  100% {
    fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}

/* ********** */
.prj{
  color:rgb(147, 147, 238);
  font-size: 16px;
}
.c-img{
  border-radius: 5px;
}
.c-img:hover{
 opacity: 0.5;

}

.contact{
  font-family: 'Courier New', Courier, monospace;
  color: #0c2ffb;
  font-size: 20px;
}

/* @ */


